<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hello <%= @user.name %>,</h3>
    <p>
      Here is your shopping list for <strong><%= @recipe_name %></strong>:
    </p>
    <ul><% @shoplist.each do |item| %>
      <li><%= item %></li>
    <% end %></ul>

    <p>Thank you for using <strong>What's Cookin'</strong>. Enjoy your meal!</p>
  </body>
</html>