@charset "UTF-8";

* {
    margin: 0;
}

html, body {
    background-color: #555555;
    color: black;
}

header {
    display: flex; 
    flex-shrink: 0;
    height: 10vh;
    min-height: 50px;
    line-height: 10vh;
    position: absolute;
    top: 0;
    width: 100vw;
}

main {
    display: flex;
    flex-direction: column;
    height: 80%;
    margin-top: 11.5vh;
    margin-bottom: 11.5vh;
}

footer {
    display: block;
    position: absolute;
    height: 10vh;
    line-height: 10vh;
    min-height: 20px;
    bottom: 0;
    width: 100vw;
}

.flex-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh; 
    position: relative;
}

h1 {
    text-decoration-line: underline;
}

.hidden {
    display: none;
}

.creds {
    background-color: lightcyan;
    width:60%;
    height: 82%;
    margin: auto;
    text-align: center;
    position: absolute;
    left: 20%;
    top: 10%;
}

.signup {
    position: absolute;
    text-align: left;
    top: 9%;
    left: 10%
}

.login {
    position: absolute;
    top: 13%;
    left: 10%;
}

form input {
    width: 95%;
    background-color: #CFCDCD;
}

input[type=button] {
    width: auto;
    height: auto;
}

.sendToTop {
    position: absolute;
    top: 20px;
    left: 30%;
}

#backButton {
    position: absolute;
    top: 20px;
    left: 10%;
    padding: 5px;
    box-sizing: border-box;
}

.resultSection {
    background-color: antiquewhite;
    margin: auto;
    width: 90%;
    height: fit-content;
    border: 1px solid white;
    box-shadow: 0 0 0 6px grey, 0 0 0 8px lightgrey;
}

.recipeCard {
    border: 1px solid black;
    width: 27%;
    height: fit-content;
/* spacing issue occurs when height differs b/w cards on same row (long titles) */
    /* line-height: 0; */
    margin: 2%;
    padding: 1%;
    float: left;
    text-align: center;
    background-color: floralwhite;
    cursor: pointer;
}

.recipeCard img {
    margin-top: 5px;
    max-width: 100%;
    max-height: 150px;
}

.recipeCard:nth-child(3n+1) {
    clear: left;
}

.recipeDisplay {
    position: relative;
    margin: auto;
    display: grid;
    text-align: center;
    width: 80%;
    min-height: 80%;
    /* top: 10%;
    left: 10%; */
    padding: 2%;
    box-sizing: border-box;
}

#ingredientSection {
    text-align: left;
    line-height: 1.3em;
    margin-bottom: 25px;
    padding-bottom: 30px;
    margin-top: 3%;
    border-bottom: 1pt solid black;
}

#instructionSection {
    text-align: left;
    clear: both;
}

.checkBoxList {
    list-style-type: none;
}

.completeStep {
    font-size: 60%;
    padding: 3px;
}

.shopListButton {
    margin-top: 12px;
    left: 15px;
    position: relative;
}

#ingredientSortButton {
    left: 50px;
    position: relative;
}

#sortedPane {
    text-align: left;
}